#-----------------------------
# System and temporary files
#
*.kate-swp
.DS_Store
.profile
Thumbs.db

#-----------------------------
# Virtual environment
venv/

#-----------------------------
# Byte-compiled & optimized files
#
__pycache__/

#-----------------------------
# User-specific files
#
README-PERSONAL.MD
